.container {
    width: 100%;
    margin: 0 0 20px 0;
    display: flex;
    align-items: center;
}

.signoutbtn {
    width: 15%; 
}

.prevbtn {
    width: 15%;
    display: flex;
    flex-direction: row-reverse;
}

.prevbtn button {
    display: block; 
    padding: 0;
    border: none;
}

.time {
    width: 35%;
    text-align: center;
}

.nextbtn {
    width: 15%;
}

.nextbtn button {
    display: block; 
    padding: 0;
    border: none;
}

.userad {
    width: 20%;
} 

.userad p {
    width: 70%;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #808080;
}

.userad button {
    display: inline-block;
    padding: 0;
    border: none;
}

.btn03 {
    display: inline-block;
    padding: 3px 28px;
    background: #009854;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-heigt: 0.8rem;
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    -webkit-transition: .12s;
    transition: .12s;
  }
  .btn03:hover {
    background: #ffffff;
    border: solid 2px #009854;
    color: #009854;
    opacity: 0.8;
  }

 
.image {
    width:100%;
    margin: 0;
}

.btn02 {
    display: inline-block;
    padding: 5px 32px;
    background: #009854;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-heigt: 0.8rem;
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    -webkit-transition: .12s;
    transition: .12s;
  }
  .btn02:hover {
    background: #ffffff;
    border: solid 2px #009854;
    color: #009854;
    opacity: 0.8;
  }


