.container {
    width: 100%;
    margin: 0;
}

.title {
    width: 80%;
    margin: 0 auto;
}

.title h1 {
    font-size: 74px;
    text-align: center;
    font-weight: normal;
    font-family: 'Dela Gothic One', cursive;
}

.title p {
    font-size: 28px;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-weight: normal;
    text-decoration: underline red;
}

.main {
    width: 100%;
    margin: 60px 0;
}

.intro {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midashi {
    width: 100%;
    padding: 0;
}

.intro h2 {
    border: none;
    font-size: 34px;
    text-align: center;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Dela Gothic One', cursive;
    font-weight: normal;
}

.intro01 {
    width: 30%;
    margin: 0 auto;
}

.intro01 p {
    font-size: 28px;
    letter-spacing: 1.8;
    font-weight: bold;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: normal;
}

.image img {
    display: block;
    width: 100%;
    height: 300px;
}

.signuplogin {
    width: 80%;
    margin: 60px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn02 {
    display: inline-block;
    padding: 25px 90px;
    background: #e41313;
    border-radius: 4px;
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    line-heigt: 0.8rem;
    -webkit-box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.4);
    -webkit-transition: .12s;
    transition: .12s;
  }
  .btn02:hover {
    background: #ffffff;
    border: solid 2px #bd1111;
    color: #e41313;
    opacity: 0.8;
  }

  .signupbtn {
      width: 50%;
  }

 